<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dao" class="kr.ac.mju.DAO">
</bean>
<bean id="gradeController" class="kr.ac.mju.GradeController">
	<constructor-arg name="dao" ref="dao"/>
</bean>
</beans>
